<style>
td {
    border: 1px solid black;
}
th {
    border: 1px solid black;
    text-align: left;
    valign: top;
}
.best {
    background-color: #dfd;
}
</style>

{% macro render_result(result) -%}
<div {% if best_among(result) %}class="best"{% endif %}>
    <b>{{ '%0.3f' | format(result.score / result.baseline_score()) }}</b>
    ({{ result.score }}) <br>
    {{ result.ticks }} ticks <br>
    <a href="{{ (
        'python visualizer.py --map={} --lm="{}" '.format(
            result.map, result.lm_spec) +
        ' '.join(result.ghost_specs))
        | data_uri }}">replay</a>
    <!-- because jinja2 marcii are strange {{kwargs}} -->
</div>
{%- endmacro %}

<form>
Path to json file with results:
<input type="text" value="{{ results_filename }}" name="results_filename">
<input type="submit" value="Ok">
</form>
<hr>

{% if results %}
    <table>
    <tr>
        <th></th>
        {% for lm in lms %}
            <th>{{ lm.replace(":", ": ") }}</th>
        {% endfor %}
    </tr>
    {% for ghosts in ghostss %}
        <tr>
        <th>
        <ul>
        {% for ghost in ghosts %}
          <li>{{ ghost }}</li>
        {% endfor %}
        </ul>
        </th>

        {% for lm in lms %}
            <td>{{ by_lm_ghosts[lm, ghosts] | render_aggregate_results }}</td>
        {% endfor %}

        </tr>
    {% endfor %}

    </table>

    <hr>

    <h3>
    {% if by_ghosts %}
        <a href="{{ url_for('table') }}?results_filename={{results_filename}}">lm-centric view</a> | ghost-centric view
    {% else %}
        lm-centric view |
        <a href="{{ url_for('table') }}?results_filename={{results_filename}}&by_ghosts=1">ghost-centric view</a>
    {% endif %}
    </h3>


    {% if by_ghosts %}
        <table>
        <tr>
        <th>lm</th>
        {% for lm in lms %}
            <th colspan={{ ghostss | length }}>{{ lm.replace(":", ": ") }}</th>
        {% endfor %}
        </tr>
        <tr>
        <th>ghost team</th>

        {% for lm in lms %}
            {% for ghosts in ghostss %}
              <th><ul>
              {% for ghost in ghosts %}
                <li>{{ ghost }}</li>
              {% endfor %}
              </ul></th>
            {% endfor %}
        {% endfor %}
        </tr>
        {% for map in maps %}
        <tr>
            <th>
                <a href="https://github.com/Vlad-Shcherbina/icfpc2014-tbd/blob/master/data/maps/{{ map }}">{{ map }}</a>
            </th>
            {% for lm in lms %}
                {% for ghosts in ghostss %}
                {% set cell_results = by_map_lm_ghosts[map, lm, ghosts] %}
                <td>
                    {% for result in cell_results %}
                        {% call render_result(result) %} {% endcall %}
                    {% endfor %}
                </td>
                {% endfor %}
            {% endfor %}
        </tr>
        {% endfor %}
        </table>
    {% else %}
        <table>
        <tr>
        <th>ghost team</th>
        {% for ghosts in ghostss %}
            <th colspan={{ lms | length }}>
            <ul>
            {% for ghost in ghosts %}
              <li>{{ ghost }}</li>
            {% endfor %}
            </ul>
            </th>
        {% endfor %}
        </tr>
        <tr>
        <th>lm</th>
        {% for ghosts in ghostss %}
            {% for lm in lms %}
                <th>{{ lm.replace(":", ": ") }}</th>
            {% endfor %}
        {% endfor %}
        </tr>
        {% for map in maps %}
        <tr>
            <th>
                <a href="https://github.com/Vlad-Shcherbina/icfpc2014-tbd/blob/master/data/maps/{{ map }}">{{ map }}</a>
            </th>
            {% for ghosts in ghostss %}
                {% for lm in lms %}
                {% set cell_results = by_map_lm_ghosts[map, lm, ghosts] %}
                <td>
                    {% for result in cell_results %}
                        {% call render_result(result) %} {% endcall %}
                    {% endfor %}
                </td>
                {% endfor %}
            {% endfor %}
        </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endif %}
